<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.charjin.oneapi.openinterface.mapper.CountryMapper">

    <resultMap id="BaseResultMap" type="top.charjin.oneapi.openinterface.domain.Country">
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="adcode" column="adcode" jdbcType="INTEGER"/>
            <result property="citycode" column="citycode" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        country,adcode,citycode
    </sql>
</mapper>
